<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button [routerLink]="['../landmarks']">
      <ion-label>Landmarks</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['../restaurants']">
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['../activities']">
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['../questions']">
      <ion-label>Questions</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
